<!DOCTYPE html>
<html>
    <head>
        <body>
            <ul>
                    <li><a href=".">ツイート</a></li>
                    <li><a href=".">ツイートと返信</a></li>
                    <li><a href=".">メディア</a></li>
                    <li><a href=".">いいね</a></li>
            </ul>
        </body> 
    </head>
</html>
<style>
    li{
     list-style-type: none; 
     width:180px;
     display: inline;
     float:right;
    }
     li a{
        text-decoration: none;
        padding:20px;
        color:black;
    }
    li a:hover{
    background-color: #CCCCCC;
    color: black;
}
</style>